@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
  .item {
    gap: 10px;
    margin-bottom: 20px;
    overflow-y: auto;
    position: relative;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;

      @include lg {
        display: none;
      }
    }

    .listItemTitle {
      font-size: 14px;
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        // background-color: $soft-bg;
        background-color: var(--text-secondary);
      }

      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }
  }
}

.menu {
  position: fixed;
  top: 10%;
  left: 0;
  bottom: 0;
  width: 13%; /* Adjust width as needed */
  overflow-y: auto; /* Enable vertical scrolling */
}

.menu::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.menu::-webkit-scrollbar-track {
  background: #ffffff; /* Color of the scrollbar track */
}

.menu::-webkit-scrollbar-thumb {
  background: #27aae1; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
}

.menu::-webkit-scrollbar-thumb:hover {
  background: #15a9ff; /* Color of the scrollbar thumb on hover */
}
