// BG
// $main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
// $dark-color: #2a3447;

:root {
  --background: #f3f6f9;
  --text-primary: #0f0f0f;
  --text-secondary: #bebcbc;
  --accent: #dfb017;
  --accent-hover: #cea315;
  --border: #1f1e1e;
  --shadow: 7px 15px 13px -4px #00000056;
}

[data-theme="dark"] {
  --background: #05010a;
  --text-primary: #f2f2f2;
  --text-secondary: #b8b8b8;
  --accent: #27aae1;
  --accent-hover: #27aae1;
  --border: #696969;
  --shadow: 7px 15px 13px -4px #ffffff1b;
}
