.small-container {
    max-width: 500px; 
    padding: 5px;
  }
  
  .small-title {
    font-size: 12px; 
    margin-bottom: 5px;
  }
  
  .small-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    padding: 2px 5px; 
    margin-bottom: 3px; 
  }
  
  .small-text {
    font-size: 14px;
    line-height: 1;
  }
  
  .small-value {
    font-weight: bold;
  }
  